body{
  background-color:  #fefef1;
}
h1{

  color: blue;
  text-align: center;
  background: gray;
}
div{
  text-align: center;
  margin:0 auto;
}
img{
  display: block;
  width: 300px;
  height:400px;
  margin: 0 auto;
}

h3{
  text-align: center;

}
a{
  padding:0 6%;
  display: block;
  float: none;
  text-align: center;
}
textarea{
  display: block;
  margin: 0 auto;
}
